* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  background: whitesmoke;
  text-align: center;
}

#title {
  margin: 15px;
  font-size: 30px;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 15px;
}

.color {
  border: black solid 1px;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.color:hover {
  transform: scale(1.07);
}

#black {
  background-color: black;
}

#color-1 {
  background-color: red;
}

#color-2 {
  background-color: green;
}

#color-3 {
  background-color: blue;
}

#clear-board {
  border: black solid 1px;
  margin-bottom: 15px;
  padding: 5px;
}

#clear-board:hover {
  transform: scale(1.07);
  font-weight: 600;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

#pixel-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 300px;
}

.pixel {
  border: black solid 1px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
}
